@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
  background-color: #12b504;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #12b504;
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #12b504;
  border-radius: 50px;
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #12b504;
  width: 12px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;

  background-color: #12b504;
}
html {
  scroll-behavior: smooth;
}
.scrollToTopButton {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.scrollToTopButton.visible {
  opacity: 1;
}
.primary {
  color: #ff7000;
}
.active {
  color: #12b504;
}
@layer utilities {
  .text-outline-white {
    text-shadow: 0 0 5px white;
  }
  .text-outline-green {
    text-shadow: 0 0 10px #12b504;
  }
  .text-outline-none {
    text-shadow: 0 0 0px;
  }
}
